/* This class styles the brand image at the top. In this case, the image is my name. ".navbar-light" is here to make sure that my class matches the specificity of Bootstrap. */
.navbar-light .navbar-brand {
  background-color: mediumblue;
  color: papayawhip;
  padding: 0 5px;
  font-size: 40px;
}

.navbar .nav-link {
  font-size: 20px;
}

.navbar .navbar-collapse {
  float: right;
}